/* CSS declarations go here */

.event {
	margin-bottom: 20px;
	border-bottom: 1px solid c6c6c6;
}

.active {
  background: yellow;
}

.soldOut {
	display: block;
	font-size: larger;
	color: red;
}

/*--------------------------blogPage---------------------------*/

dl {
	font-size: smaller;
}
dt {
	font-weight: bold;
}
dd {
	font-style: italic;
}

.postBox {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 0.2em dashed gray;
}